<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QR-code generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h1>{{.Title}}</h1>
    <div>Please enter the string you want to encode as a QR code.</div>
    <form action="/generator/" method="post">
        <input type="text" name="dataString" required>
        <input type="submit" value="Generate QR Code">
    </form>

    {{if .ErrorMsg}}
    <div class="error">{{.ErrorMsg}}</div>
    {{end}}

    {{if .QRCode}}
    <div class="qr-code">
        <img src="{{.QRCode}}" alt="QR Code">
    </div>
    {{end}}
</div>
</body>
</html>